@import "./typography.scss";

body {
  font-family: TheodorFatA;
  height: 100vh;
  overflow: hidden;
  cursor: none;
  touch-action: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide {
  display: none;
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    border-bottom: 2px solid white;
    cursor: crosshair;
  }
}

// TODO: all media queries below
@media only screen and (max-width: 600px) {
  .about {
    font-size: 18vmin;
    line-height: 16vmin;
  }

  .content {
    padding: 16vmin 8vmin;
  }
}

@media only screen and (min-width: 600px) {
  .about {
    font-size: 16vmin;
    line-height: 14vmin;
  }
}

@media only screen and (min-width: 768px) {
  .about {
    font-size: 12vmin;
    line-height: 11vmin;
  }
}

@media only screen and (min-width: 1050px) {
  .about {
    font-size: 14vmin;
    line-height: 12vmin;
  }
}

@media only screen and (min-width: 1280px) {
  .about {
    font-size: 18vmin;
    line-height: 16vmin;
  }
}
