.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scratchedIn {
  mix-blend-mode: lighten;
}

.scratchedOut {
  mix-blend-mode: darken;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 12vmin;
  font-family: TheodorFatA;
  font-size: 18vmin;
  line-height: 16vmin;
}

.blackBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

@media only screen and (max-width: 600px) {
  .content {
    padding: 16vmin 8vmin;
    font-size: 18vmin;
    line-height: 16vmin;
  }
}

@media only screen and (min-width: 600px) {
  .content {
    font-size: 16vmin;
    line-height: 14vmin;
  }
}

@media only screen and (min-width: 768px) {
  .content {
    font-size: 14vmin;
    line-height: 12vmin;
  }
}

@media only screen and (min-width: 1050px) {
  .content {
    font-size: 16vmin;
    line-height: 14vmin;
  }
}

@media only screen and (min-width: 1280px) {
  .content {
    font-size: 18vmin;
    line-height: 16vmin;
  }
}
