/* mobile */
@media only screen and (max-width: 600px) {
  .footer {
    padding: 0 8vmin;
  }

  .nav {
    display: none;
  }

  .mobileNav:not(.hide) {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  .chevron {
    display: none;
  }
}

.footer {
  font-family: TheodorSlantedA;
  font-size: 5vmin;
  text-transform: uppercase;
  background-color: black;
  color: white;
  border-top: 2px solid white;
  position: fixed;
  bottom: 0;
  width: 100%;
  touch-action: auto;
  padding: 0 12vmin;
  z-index: 1;
  cursor: crosshair;
}

.nav {
  margin-block-start: 0.7em;
  margin-block-end: 1em;

  > li {
    display: inline-block;
  }
}

.navLeft {
  margin-right: 1em;
}

.navRight {
  float: right;
  margin-left: 1em;
}

.mobileNav {
  display: none;
  font-size: 5em;
  margin-block-start: 1vmin;
  margin-block-end: 5vmin;

  > li {
    display: block;
  }
}

.chevron {
  font-size: 5em;
  line-height: 0.6em;
  text-align: center;
  margin-top: 3vmin;

  &::before {
    border-style: solid;
    border-width: 4px 4px 0 0;
    content: "";
    display: inline-block;
    top: 0.15em;
    height: 0.45em;
    width: 0.45em;
    position: relative;
    transform: rotate(-45deg);
    vertical-align: top;
  }

  &.down {
    margin-top: 1vmin;

    &::before {
      top: 0;
      transform: rotate(135deg);
    }
  }
}
